################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cthangband/obj/Debug
/Cthangband/bin/Debug
