################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cthangband/obj
/Cthangband/bin
/.vs
