################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cthangband/obj
/Cthangband/bin
/.vs
.vs/Cthangband/v17/.suo
.vs/Cthangband/v17/fileList.bin
